# .env.development
VITE_DOMAIN=localhost
VITE_URL=http://localhost:3001
VITE_API_URL=http://localhost:3000
VITE_SESSION_COOKIE_NAME=session_id_dev
VITE_STATE_COOKIE_NAME=state_dev
POSTGRES_CONNECTION_STRING=postgresql://nexus-users:<password>@localhost:<port>/nexus-users
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=
INTERNAL_API_URL=http://localhost:3000