CLIENT_TOKEN=<Discord Bot Token>
CLIENT_ID=1224999497130840105
GUILD_ID=1219592947599675482
API_URL=<Nexus API URL>
FRONTEND_URL=<Nexus Frontend URL>
POSTGRES_USERS_CONNECTION_STRING=<Users Database Connection String>
POSTGRES_NEXUS_CONNECTION_STRING=<Nexus Database Connection String>